.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: purple;
}

.buttonClass {
    cursor: pointer;
    color: #346297;
    background-color: #c5d0db;
    border: none;
    height: 30px;
    font-size: 16px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.buttonClass:hover {
    background: #e1e3e6;
}