.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 100px;
}

.contact {
    padding-left: 10px;
}

.avatarContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: -100px
}

.infoContainer {
    margin-top: -65px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileInfo {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 230px;
    margin-top: -138px;
    font-size: 16px;
}

.name {
    font-size: 24px;
}

.buttonClass {
    color: #346297;
    background-color: #c5d0db;
    border: none;
    height: 30px;
    font-size: 18px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.more {
    padding-left: 15px;
}