.formContainer {

}

.formSummaryError {
   /* border: solid red 1px;
    padding: 5px;
    color: purple;*/
    color: red;
    margin: 10px 5px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 12px;
}

.buttonClass {
    cursor: pointer;
    color: #346297;
    background-color: #c5d0db;
    border: none;
    height: 30px;
    font-size: 16px;
    /*margin: 10px;*/
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.buttonClass:hover {
    background: #e1e3e6;
}

.title {
    color: #346297;
    text-align: center
}