.descriptionBlock {
    padding: 10px;
    background-color: white;
    height: 140px;
    /*border-radius: 15px 15px 0 0;*/
    margin-top: -4px;
    position: relative;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 100px;
    margin: 0;
}

.contact {
    padding-left: 10px;
}

.avatarContainer {
    width: 100%;

    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: -100px
}

.infoContainer {
    margin-top: -65px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileInfo {
    /*!*  width: 670px;*!
      display: flex;
      justify-content: flex-start;
      padding-left: 230px;
      margin-top: -15%; !*!/-136px*!
      font-size: 16px;
      !*background-color: #006d77;*!*/
    position: absolute;
    bottom: 130px;
    left: 240px;
}

.name {
    font-size: 24px;
    word-wrap: break-word
}

.buttonClass {
    cursor: pointer;
    color: #346297;
    background-color: #c5d0db;
    border: none;
    height: 30px;
    font-size: 16px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    position: relative;
    top: -76px;
    right: 20px;
}

.buttonClass:hover {
    background: #e1e3e6;
}

.more {
    position: relative;
    margin-left: 200px;
    margin-top: -100px;
    bottom: -76px;
}