.descriptionBlock {
    padding: 10px;
}

.mainPhoto {
    max-width: 200px;
    border-radius: 100px;
}

.contact {
    padding-left: 10px;
}

.avatarContainer {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    margin-top: -100px
}

.infoContainer {
    margin-top: -130px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profileInfo {

}