.button {
    cursor: pointer;
    border: none;
    background-color: white;
    padding-left: 0;
}

.icon {
    position: relative;
    right: 7px;
    top: 4px;
}

.title {
    color: #346297;
}

.log {
    color: white;
}