.nav {
    grid-area: nav;
    background-color: #edeef0;
    padding: 20px;
}

.item a {
    padding: 8px;
    color: black;
    text-decoration: none;
}

.item a.active {
    color: #353579;
}

.reclama {
    padding-top: 50px;
    font-size: 16px;
}

.reclama img {
    width: 140px;
    height: 199px;
    border-radius: 15px;
}