.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border: solid red 1px;
    padding: 5px;
    color: purple;
}

.button {
    cursor: pointer;
    color: #e1e3e6;
    background-color: #346297;
    border: none;
    height: 30px;
    font-size: 16px;
    /*margin: 10px;*/
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
}

.button:hover {
    opacity: 0.8;
}