.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1100px;
    grid-template-areas:
"header header header"
"nav content content";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 2fr 10fr;
    margin-top: -35px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: #edeef0;
}
